html,
body,
#root {
  height: 100%;
}

.App {
  height: 100%;
  font-size: 14px;
}

input {
  width: 100%;
  padding: 5px;
  border: 1px solid #b1b1b1;
  border-radius: 3px;
  outline: none;
}

button {
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.error-message {
  margin-top: 5px;
  color: #9d141d;
  font-size: 13px;
}

.input-item {
  margin-top: 20px;
}

.input-item:first-child {
  margin-top: 0;
}

.input-item .label {
  margin-bottom: 5px;
  color: #3f4753;
}

.common-popover .ant-popover-title {
  font-weight: bold;
}
.common-popover .ant-popover-inner-content {
  padding: 10px 12px;
}

.disabled {
  opacity: 0.6;
  pointer-events: none;
}
